/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 jun. 2022, 10:10:57
    Author     : danie
*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Roboto+Condensed:wght@300&display=swap');

*{
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(180deg, #FFFFFF, #A6A492);
}

.container{
    height:160vh;
    width:100%;
    background-size:cover;
    box-sizing: border-box;
    position:relative;
}

.navbar{
    height:17vh;
    width:100%;
    margin:auto;
    display:flex;
    align-items: center;
    background-color: #0A0C26;
}

.logo{
    width: 160px;
    cursor: pointer;
}

nav{
    flex:1;
    padding-left: 60px;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin: 0px 20px;
    font-weight: bold;
    color: #FFFFFF;
}

nav ul li a{
    text-decoration: none;
    cursor: pointer;
}

.contenido h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top:24px;
    margin-bottom:15px;
    color:#0A0C26;
}
.car{
    position: relative;
    padding-left: 60px;
}

.car ul li{
    display:inline-block;
    list-style: none;
    margin: 30px 180px;
    border: 3px solid #0A0C26;
    border-radius: 15px;
    cursor:pointer;
}

.car ul li a{
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

.car h1{
    font-size: 25px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom:25px;
    color: #0A0C26;  
}

.car h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom:5px;
    color:darkred; 
}

.car p{
    font-size: 20px;
    font-weight: bold;
    margin-top:15px;
    margin-bottom:15px;
    margin-left: 35px;
}

.carImg{
    align-content: center;
    height: 300px;
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}