/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 5, 2022, 1:33:54 PM
    Author     : Ostional
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Roboto+Condensed:wght@300&display=swap');

*{
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Condensed', sans-serif;
}
