<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head th:replace="plantilla/template::head"></head>
    <body class="body" style="background: linear-gradient(180deg, #FFFFFF, #A6A492); height: 100vh;">
        <header th:replace="plantilla/template::header"></header>
        <h1 th:text = "#{booking.tabla}"></h1>
        
        <table class = "table table-secondary table-striped table-captiontop">
            <thead class = "thead-dark">
                <tr>
                    <th scope="col">Card </th>
                    <th th:text = "#{booking.nombre}" ></th>
                    <th th:text = "#{booking.apellidos}"> </th>
                    <th th:text = "#{booking.telefono}"></th>
                    <th th:text = "#{booking.correo}"> </th>
                    <th th:text = "#{booking.domicilio}"> </th>
                    <th th:text = "#{booking.tarjeta}"> </th>
                    <th th:text = "#{booking.retiro}" ></th>
                    <th th:text = "#{booking.devolucion}"> </th>
                    <th th:text = "#{booking.codigo}"> </th>
                    <th th:text = "#{accion.editar}"></th>
                    <th th:text = "#{accion.eliminar}"> </th>
                </tr>


            </thead> 
            <tbody>   
            <th:block th:each="user : ${booking}">
                <tr>
                    <td th:text="${user.getId}"></td>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getApellidos}"></td>
                    <td th:text="${user.getTelefono}"></td>
                    <td th:text="${user.getCorreo}"></td>
                    <td th:text="${user.getDomicilio}"></td>
                    <td th:text="${user.getTarjeta}"></td>
                    <td th:text="${user.getRetiro}"></td>
                    <td th:text="${user.getDevolucion}"></td>
                    <td th:text="${user.getCodigo}"></td>
                    <td>
                        <a th:href="@{/editBooking/{id}(id=${user.getCard})}" th:text = "#{accion.editar}"></a>
                    </td>
                    <td>
                        <a th:href="@{/deleteBooking/{id}(id=${user.getCard})}" th:text = "#{accion.eliminar}"></a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <a class="btn btn-primary"  href="/bookingN" role="button" th:text = "#{accion.agregar}"></a>
    <footer th:replace="plantilla/template::footer"></footer>
</body> 

</html>

