<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Catalogo</title>
        <link rel="stylesheet" href="css/catalogo.css"/>
    </head>
    <body style = "height: 100vh ;background: linear-gradient(180deg, #FFFFFF, #A6A492);">
        <div class='container'>
            <div class = 'navbar' style = " height:18vh;
                 width:100%;
                 display:flex;
                 background-color: #0A0C26;">
                <a href="index.html"><img style = " width: 160px;
                                          cursor: pointer"; src="images/logo.png" class ='logo' alt="Este es el logo del rentacar"/></a>
                <nav style = "flex:1;
                     padding-left: 60px;">
                    <ul>                         
                        <li style = "display:inline-block;
                            list-style: none;
                            margin: 0px 20px;
                            font-weight: bold;
                            color: #FFFFFF;"> <a href="index.html">Home</a></li>
                        <li style = "display:inline-block;
                            list-style: none;
                            margin: 0px 20px;
                            font-weight: bold;
                            color: #FFFFFF;"> <a href="booking.html">Reserva</a> </li>
                        <li style = "display:inline-block;
                            list-style: none;
                            margin: 0px 20px;
                            font-weight: bold;
                            color: #FFFFFF;"> <a href="renting.html">Renting</a> </li>
                        <li style = "display:inline-block;
                            list-style: none;
                            margin: 0px 20px;
                            font-weight: bold;
                            color: #FFFFFF;"> <a href="contacto.html">Contacto</a></li>
                        <li style = "display:inline-block;
                            list-style: none;
                            margin: 0px 20px;
                            font-weight: bold;
                            color: #FFFFFF;"> <a href="loginProyecto.html">Login</a> </li>
                    </ul>
                </nav>
            </div> 
            <div class ='contenido'>
                <h1>Este es el catálogo de vehículos disponibles <br> Para poder alquilar el servicio de un vehículo primero deberá registrarse</h1>
                <div class = 'car' style ="position: relative;
                     padding-left: 60px;">
                    <ul>
                        <li style = "display:inline-block;
                            list-style: none;
                            margin: 30px 180px;
                            border: 3px solid #0A0C26;
                            border-radius: 15px;
                            cursor:pointer;">
                            <h1 style = "font-size: 25px;
                                font-weight: bold;
                                margin-top:5px;
                                margin-bottom:25px;
                                color: #0A0C26;" th:text = "#{catalogo.nombre}">Hyundai Accent - 2021>Chevrolet Spark - 2020</h1>   
                            <h2 style = "text-align: center;
                                font-size: 25px;
                                font-weight: bold;
                                margin-top:5px;
                                margin-bottom:5px;
                                color:darkred;" th:text = "#{catalogo.precio}">56000</h2>
                            <p style = "font-size: 20px;
                               font-weight: bold;
                               margin-top:15px;
                               margin-bottom:15px;
                               margin-left: 35px;">Carro de 5 campos <br> Costo de alquiler: 56 000 por dia<br></p>
                            <a href="/sparkIndex" style = "position: relative;
                               font-weight: bold;
                               text-decoration: none;
                               color:black;" > <img src="images/spark.png" class = 'carImg' style = "align-content: center;
                                     height: 300px;
                                     width: 500px;
                                     margin-left: 10px;
                                     margin-right: 10px;
                                     margin-bottom: 30px;
                                     cursor: pointer;" alt="Imagen del vehículo" /> </a>
                        </li>
                        <li style = "display:inline-block;
                            list-style: none;
                            margin: 30px 180px;
                            border: 3px solid #0A0C26;
                            border-radius: 15px;
                            cursor:pointer;">
                            <h1 style = "font-size: 25px;
                                font-weight: bold;
                                margin-top:5px;
                                margin-bottom:25px;
                                color: #0A0C26;" th:text = "#{catalogo.nombre}">Suzuki Vitara - 2021</h1>
                            <h2 style = "text-align: center;
                                font-size: 25px;
                                font-weight: bold;
                                margin-top:5px;
                                margin-bottom:5px;
                                color:darkred;" th:text = "#{catalogo.precio}">64000</h2>
                            <p style = "font-size: 20px;
                               font-weight: bold;
                               margin-top:15px;
                               margin-bottom:15px;
                               margin-left: 35px;">Carro de 7 campos <br>Costo de alquiler: 55000 por dia <br></p>   
                            <a href="/vitaraIndex" style = "position: relative;
                               font-weight: bold;
                               text-decoration: none;
                               color:black;" > <img src="images/vitara.png" class = 'carImg' style = "align-content: center;
                                     height: 300px;
                                     width: 500px;
                                     margin-left: 10px;
                                     margin-right: 10px;
                                     margin-bottom: 30px;
                                     cursor: pointer;" alt="Imagen del vehículo"/> </a>
                        </li>

                        <li style = "display:inline-block;
                            list-style: none;
                            margin: 30px 180px;
                            border: 3px solid #0A0C26;
                            border-radius: 15px;
                            cursor:pointer;">
                            <h1 style = "font-size: 25px;
                                font-weight: bold;
                                margin-top:5px;
                                margin-bottom:25px;
                                color: #0A0C26;" th:text = "#{catalogo.nombre}">Volkswagen Amarok - 2022</h1>
                            <h2 style = "text-align: center;
                                font-size: 25px;
                                font-weight: bold;
                                margin-top:5px;
                                margin-bottom:5px;
                                color:darkred;" th:text = "#{catalogo.precio}">75500</h2>
                            <p style = "font-size: 20px;
                               font-weight: bold;
                               margin-top:15px;
                               margin-bottom:15px;
                               margin-left: 35px;">Carro de 8 campos <br>Costo de alquiler: 75500 por dia<br> </p>
                            <a href="/amarokIndex" style = "position: relative;
                               font-weight: bold;
                               text-decoration: none;
                               color:black;" ><img src="images/Amarok.png" class = 'carImg' style = "align-content: center;
                                    height: 300px;
                                    width: 500px;
                                    margin-left: 10px;
                                    margin-right: 10px;
                                    margin-bottom: 30px;
                                    cursor: pointer;" alt="Imagen del vehículo"/></a>
                        </li>

                        <li style = "display:inline-block;
                            list-style: none;
                            margin: 30px 180px;
                            border: 3px solid #0A0C26;
                            border-radius: 15px;
                            cursor:pointer;">
                            <h1 style = "font-size: 25px;
                                font-weight: bold;
                                margin-top:5px;
                                margin-bottom:25px;
                                color: #0A0C26;" th:text = "#{catalogo.nombre}">Hyundai Accent - 2021</h1>
                            <h2 style = "text-align: center;
                                font-size: 25px;
                                font-weight: bold;
                                margin-top:5px;
                                margin-bottom:5px;
                                color:darkred;" th:text = "#{catalogo.precio}">40500</h2>
                            <p style = "font-size: 20px;
                               font-weight: bold;
                               margin-top:15px;
                               margin-bottom:15px;
                               margin-left: 35px;">Carro de 6 campos <br>Costo de alquiler: 40500 por dia <br></p>
                            <a href="/accentIndex" style = "position: relative;font-weight: bold;
                               text-decoration: none;
                               color:black;"> <img src="images/accent.png" class = 'carImg' style = "align-content: center;
                                    height: 300px;
                                    width: 500px;
                                    margin-left: 10px;
                                    margin-right: 10px;
                                    margin-bottom: 30px;
                                    cursor: pointer;" alt="Imagen del vehiculo"/> </a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>

