<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template::head"></head>
    <body class="body" style="background: linear-gradient(180deg, #FFFFFF, #A6A492); height: 100vh;">
        <header th:replace="plantilla/template::header"></header>
        <h1 th:text = "#{cliente.tabla}"></h1>
        <table class = "table table-secondary table-striped table-captiontop">
            <thead class = "thead-dark">
                <tr>
                    <th scope= "col">Id Cliente </th>
                    <th th:text = "#{cliente.nombre}" ></th>
                    <th th:text = "#{cliente.apellidos}"> </th>
                    <th th:text = "#{cliente.apellidos}"></th>
                    <th th:text = "#{cliente.telefono}"></th>
                    <th th:text = "#{cliente.correo}"> </th>
                    <th th:text = "#{cliente.domicilio}"> </th>
                    <th th:text = "#{cliente.nacionalidad}"> </th>
                    <th th:text = "#{accion.editar}"></th>
                    <th th:text = "#{accion.eliminar}"> </th>
                </tr>
            </thead> 
            <tbody>   
            <th:block th:each="user : ${clientes}">
                <tr>
                    <td th:text="${user.getId}"></td>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getApellido1}"></td>
                    <td th:text="${user.getApellido2}"></td>
                    <td th:text="${user.getTelefono}"></td>
                    <td th:text="${user.getCorreo}"></td>
                    <td th:text="${user.getDomicilio}"></td>
                    <td th:text="${user.getNacionalidad}"></td>
                    <td>
                        <a th:href="@{/editCliente/{id}(id=${user.getId})}" th:text = "#{accion.editar}"></a>
                    </td>
                    <td>
                        <a th:href="@{/deleteCliente/{id}(id=${user.getId})}" th:text = "#{accion.eliminar}"></a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
        
    <a class="btn btn-primary" href="/clienteN" role="button" th:text = "#{accion.agregar}"></a>
    <footer th:replace="plantilla/template::footer"></footer>
</body> 
</html>
