<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template::head"></head>

    <body class="body" style="background: linear-gradient(180deg, #FFFFFF, #A6A492); height: 100vh;">
        <header th:replace="plantilla/template::header"></header>

        <h1 th:text = "${titulo}"></h1>
        <h1 th:text = "#{client.nombre}"></h1>
        <table class = "table table-secondary table-striped table-captiontop">
            <thead class = "thead-dark">
                <tr>
                    <th scope="col">Id </th>
                    <th scope="col">Nombre </th>
                    <th scope="col">Apellido 1 </th>
                    <th scope="col">Apellido 2 </th>
                    <th scope="col">Telefono </th>
                    <th scope="col">Correo </th>
                    <th scope="col">Domicilio </th>
                    <th scope="col">Editar </th>
                </tr>
            </thead> 
            <tbody>   
            <th:block th:each="user : ${clientes}">
                <tr>
                    <td th:text="${user.getId}"></td>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getApellido1}"></td>
                    <td th:text="${user.getApellido2}"></td>
                    <td th:text="${user.getTelefono}"></td>
                    <td th:text="${user.getCorreo}"></td>
                    <td th:text="${user.getDomicilio}"></td>
                    <td>
                        <a th:href="@{/editCliente/{id}(id=${user.getId})}">Edit</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-lg"><a href="/clienteN"></a>Agregar Cliente</button>
    
    <footer th:replace="plantilla/template::footer"></footer>

</body> 
</html>
