<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"></head>
    <body class="body" style="background: linear-gradient(180deg, #FFFFFF, #A6A492); height: 100vh";>
        <form th:object = "${empleado}"
              th:action = "@{/saveEmpleado}"
              method='POST'
              >
            <input type="hidden" th:field="*{idempleado}">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Id Empleado</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" th:field="*{idempleado}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"th:text ="#{cliente.nombre}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" th:field="*{nombre}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label"th:text = "#{cliente.apellidos}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{apellido1}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label"th:text = "#{cliente.apellidos}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{apellido2}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label"th:text = "#{cliente.telefono}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{celular}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label"th:text = "#{cliente.correo}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{correo}">
                </div>
            </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label" th:text = "#{empleado.direccion}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{direccion}">
                </div>
            </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label"th:text = "#{empleado.cargo}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{cargo}">
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label for="inputState" class="form-label"th:text = "#{cliente.nacionalidad}"></label>
                <select th:field="*{nacionalidad}" class="form-control form-control-sm col-md-6" id="nacionalidad">
                    <option th:each="x:${nacionalidades}"
                            th:value="${x.idnacionalidad}"
                            th:text="${x.nacionalidad}"/>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" value="Guardar">Submit</button>
        </form>
        
        <footer th:replace="plantilla/template::footer"></footer>
        
    </body>
</html>
