<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template::head"></head>

    <body class="body" style="background: linear-gradient(180deg, #FFFFFF, #A6A492); height: 100vh";>
        <form th:object = "${detalleRenta}"
              
              th:action =  "@{/saveDetalleRenta}"
              method='POST'
              >
            <input type="hidden" th:field="*{idrenta}">
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Cantidad Vehiculos</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{cantvehiculos}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Dias Renta</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{diasrenta}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Precio Vehiculo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{preciovehiculo}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Precio Renta</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{preciorenta}">
                </div>
            </div>

            <div class="form-group mb-3 row">
                <label for="inputState" class="form-label">Tienda</label>
                <select th:field="*{provincia}" class="form-control form-control-sm col-md-6" id="provincias">
                    <option th:each="x:${provincias}"
                            th:value="${x.idprovincias}"
                            th:text="${x.provincia}"/>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" value="Guardar">Submit</button>
        </form>

        <footer th:replace="plantilla/template::footer"></footer>

    </body>
</html>
