<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="body" style="background: linear-gradient(180deg, #FFFFFF, #A6A492); height: 100vh";>
        <form th:object = "${detalleEmpleado}"
              th:action = "@{/save}"
              method='POST'
              >
            <input type="hidden" th:field="*{idempleado}">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Id Empleado</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" th:field="*{idempleado}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" th:field="*{nombre}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Apellido 1</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{apellido1}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Apellido 2</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{apellido2}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">celular</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{celular}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">correo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{correo}">
                </div>
            </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{direccion}">
                </div>
            </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Cargo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" th:field="*{cargo}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" value="Guardar">Submit</button>
        </form>
        <footer th:replace="plantilla/template::footer"></footer>
        
    </body>
</html>
