<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html html xmlns:th="http://www.thymeleaf.org" >
    <head th:replace="plantilla/template::head"></head>
    <body class="body" style="background: linear-gradient(180deg, #FFFFFF, #A6A492); height: 100vh;">
        <header th:replace="plantilla/template::header"></header>
        <h1 th:text = "${titulo}"> </h1>
        <table class = "table table-secondary table-striped table-captiontop">
            <thead class = "thead-dark">
                <tr>
                    <th scope="col">Id </th>
                    <th th:text = "#{cliente.nombre}" ></th>
                    <th th:text = "#{cliente.apellidos}"> </th>
                    <th th:text = "#{cliente.apellidos}"> </th>
                    <th th:text = "#{cliente.telefono}"></th>
                    <th th:text = "#{cliente.correo}"></th>
                    <th th:text = "#{empleado.direccion}"></th> 
                    <th th:text = "#{empleado.cargo}"></th> 
                    <th th:text = "#{accion.editar}"></th>
                    <th th:text = "#{accion.eliminar}"> </th>
                </tr>
            </thead> 
            <tbody>   
            <th:block th:each="user : ${empleado}">
                <tr>
                    <td th:text="${user.getIdempleado}"></td>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getApellido1}"></td>
                    <td th:text="${user.getApellido2}"></td>
                    <td th:text="${user.getCelular}"></td>
                    <td th:text="${user.getCorreo}"></td>
                    <td th:text="${user.getDireccion}"></td>
                    <td th:text="${user.getCargo}"></td>
                    <td>
                        <a th:href="@{/editEmpleado/{id}(id=${user.getIdempleado})}" th:text = "#{accion.editar}"></a>
                    </td>
                    <td>
                        <a th:href="@{/deleteEmpleado/{id}(id=${user.getIdempleado})}" th:text = "#{accion.eliminar}"></a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/empleadoN" role="button" th:text = "#{accion.agregar}"></a>
    <footer th:replace="plantilla/template::footer"></footer>
</body>
</html>
