
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"></head>
    <body class="body" style="background: linear-gradient(180deg, #FFFFFF, #A6A492); height: 100vh;">
        <header th:replace="plantilla/template::header"></header>
         <h1 th:text = "#{reclamo.tabla}"></h1>
        <table class = "table table-secondary table-striped table-captiontop">
            <thead class = "thead-dark">
                <tr>
                    <th scope="col" th:text = "#{articulo.activo}"></th>
                    <th scope="col" th:text = "#{plantilla.clientes}">Id</th>
                    <th scope="col" th:text = "#{plantilla.vehiculos}">Id</th>
                    <th scope="col" th:text = "#{accion.eliminar}"></th> 
                </tr>
            </thead> 
            <tbody>   
            <th:block  th:each="user : ${reclamo}">
                <tr>
                    <td th:text="${user.getIdreclamo}"></td>
                    <td th:text="${user.getIdcliente}"></td>
                    <td th:text="${user.getIdvehiculo}"></td>
                    <td>
                        <a th:href="@{/deletereclamo/{idreclamo}(idreclamo=${user.getIdreclamo})}" th:text = "#{accion.eliminar}"></a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/reclamoN" role="button" th:text = "#{accion.agregar}" ></a>
    <footer th:replace="plantilla/template::footer"></footer>
</body>
</html>
