<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <th:block th:each="user : ${vehiculo}">
        <tr>
            <td th:text="${user.getId}"></td>
            <td th:text="${user.getNombre}"></td>
            <td th:text="${user.getApellido1}"></td>
            <td th:text="${user.getApellido2}"></td>
            <td th:text="${user.getTelefono}"></td>
            <td th:text="${user.getCorreo}"></td>
            <td th:text="${user.getDomicilio}"></td>
            <td th:text="${user.getNacionalidad}"></td>
            <td>
                <a th:href="@{/editVehiculo/{id}(id=${user.getId})}" th:text = "#{accion.editar}"></a>
            </td>
            <td>
                <a th:href="@{/deleteVehiculo/{id}(id=${user.getId})}" th:text = "#{accion.eliminar}"></a>
            </td>
        </tr>
    </th:block>
</body>
</html>
