<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"></head>
    <body style="background: linear-gradient(180deg, #FFFFFF, #A6A492); height: 100vh;">
        <header th:replace="plantilla/template::header"></header>
        <div>
            <h1 th:text = "#{renta.exitosa}">    
            </h1>
            <h2><a href="/catalogoIndex" th:text = "#{accion.volver}"></a></h2>
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>
