<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="plantilla/template::head"></head>
    <body style = "height: 105vh ;background: linear-gradient(180deg, #FFFFFF, #A6A492);">
        <div class = 'navbar' style = " height:18vh;
             width:100%;
             display:flex;
             background-color: #0A0C26;"> 
            <a href="index.html"><img style = " width: 160px;
                                      cursor: pointer"; src="images/logo.png" class ='logo' alt="Este es el logo del rentacar"/></a>
            <nav style = "flex:1;
                 padding-left: 60px;">
                <ul>                         
                    <li style =  "display:inline-block;
                        list-style: none;
                        margin: 0px 20px;
                        font-weight: bold;
                        color: #FFFFFF;"> <a href="index.html">Home</a></li>
                    <li style = "display:inline-block;
                        list-style: none;
                        margin: 0px 20px;
                        font-weight: bold;
                        color: #FFFFFF;"> <a href="/catalogoIndex">Flota y Tarifas</a> </li>
                    <li style = "display:inline-block;
                        list-style: none;
                        margin: 0px 20px;
                        font-weight: bold;
                        color: #FFFFFF;"> <a href="renting.html">Renting</a> </li>
                    <li style = "display:inline-block;
                        list-style: none;
                        margin: 0px 20px;
                        font-weight: bold;
                        color: #FFFFFF;"> <a href="contacto.html">Contacto</a></li>
                    <li style = "display:inline-block;
                        list-style: none;
                        margin: 0px 20px;
                        font-weight: bold;
                        color: #FFFFFF;"> <a href="/login">Login</a> </li>
                </ul>
            </nav>
        </div> 
        <div class = 'info'>
            <h1>Chevrolet Spark - 2022</h1>
            <h2 th:text = "#{catalogo.precio}"></h2>
            <h3>56 000</h3>
            <p>Chevrolet spark, un automovil diseñado para cumplir y sobresalir en las necesidades más basicas esperadas de un vehículo de tipo familiar por 
                el precio de 56 000 colones diarios, usted podría obtener el benefecio de uso de este vehículo con todos 
                <br> los seguros necesarios para su protección como pasajero y cliente.</p>
            <p th:text = "#{carro.espacios}"></p>
            <p>5</p>
            <iframe width="1280" height="330" src="https://www.youtube.com/embed/h_KD36bwVNA" title="Chevrolet Spark" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <form action="#" th:action="@{'/deleteVehiculo/{idvehiculo}'(idvehiculo=2)}" th:method="delete" >
                <button type="submit" class="btn" th:text = "#{accion.rentar}">
                </button>
            </form>
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>
