
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"></head>
    <body class="body" style="background: linear-gradient(180deg, #FFFFFF, #A6A492); height: 100vh;">
        <header th:replace="plantilla/template::header"></header>
       <h1 th:text = "#{vehiculo.tabla}"> </h1>
        <table class = "table table-secondary table-striped table-captiontop">
            <thead class = "thead-dark">
                <tr>
                    <th th:text = "#{vehiculo.idvehiculo}" ></th>
                    <th th:text = "#{vehiculo.modelo}" ></th>
                    <th th:text = "#{vehiculo.año}" ></th>
                    <th th:text = "#{vehiculo.color}" ></th>
                    <th th:text = "#{vehiculo.marca}" ></th>
                    <th th:text = "#{vehiculo.descripcion}" ></th>
                    <th th:text = "#{vehiculo.material}" ></th>
                    <th th:text = "#{vehiculo.tipo}" ></th>
                    <th th:text = "#{vehiculo.kilometraje}" ></th>
                    <th th:text = "#{vehiculo.cantpuertas}" ></th>
                    <th th:text = "#{vehiculo.cantasientos}" ></th>
                    <th th:text = "#{vehiculo.preciorenta}" ></th>
                    <th th:text = "#{accion.editar}"> </th> 
                </tr>
            </thead> 
            <tbody>   
            <th:block th:each="user : ${vehiculo}">
                <tr>
                    <td th:text="${user.getIdvehiculo}"></td>
                    <td th:text="${user.getModelo}"></td>
                    <td th:text="${user.getAnnio}"></td>
                    <td th:text="${user.getColor}"></td>
                    <td th:text="${user.getMarca}"></td>
                    <td th:text="${user.getDescripcionvehiculo}"></td>
                    <td th:text="${user.getMaterial}"></td>
                    <td th:text="${user.getTipomotor}"></td>
                    <td th:text="${user.getKilometraje}"></td>
                    <td th:text="${user.getNumpuertas}"></td>
                    <td th:text="${user.getNumasientos}"></td>
                    <td th:text="${user.getPreciorenta}"></td>
                    <td>
                        <a th:href="@{/editvehiculo/{idvehiculo}(idvehiculo=${user.getIdvehiculo})}" th:text = "#{accion.editar}"></a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/vehiculoN" role="button" th:text = "#{accion.agregar}"></a>
    <footer th:replace="plantilla/template::footer"></footer>
</body>
</html>
